
:root { 
  --topbar-h: 60px; font-size: 90%; 
  --sidebar-width: 15rem; 
  --secondary-hover: oklch(0.92 0 0); 
}
.dark { --secondary-hover: oklch(.319 0 0);}

html { scroll-padding-top: calc( var(--topbar-h) + 10px); }
body { background: var(--background); color: var(--foreground); }

.task, .milestone { background-color: var(--secondary); }
.task:hover, .milestone:hover { background-color: var(--secondary-hover); }
.backlog-divider { background-color: unset; }

/* Fixed (non-scrolling) banner */
.topbar {
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--topbar-h);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid var(--color-border);
  background: var(--background);
}

.sidebar nav {
  height: calc(100vh - var(--topbar-h));
  margin-top: var(--topbar-h);
}

main { margin-top: var(--topbar-h); }

main {
  /* Headings — clean hierarchy & vertical rhythm */
  h1, h2, h3, h4, h5, h6 {          
    font-weight: 600;
  }
  h0 { font-size: 2.25rem; /* text-4xl */ } 
  h1 { font-size: 1.875rem; /* text-3xl */ }
  h2 { font-size: 1.5rem; /* text-2xl */ }
  h3 { font-size: 1.25rem; /* text-xl */ }
  h4 { font-size: 1.125rem; /* text-lg */ }
  h5 { font-size: 1rem; /* text-base */ font-weight: 500; }
  h6 { font-size: 1rem; /* text-base */ font-weight: 500; }

  /* Lists — readable and predictable */
  ul, ol { margin: 1em 0; padding-left: 1.5em; }
  li { margin: 0.25em 0; }
  /* Nested lists */
  ul ul,
  ul ol,
  ol ul,
  ol ol { margin-top: 0.25em; margin-bottom: 0.25em; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal;  }
}

/* .task > * { border: magenta solid 1px; }
.task > * > * { border: cyan solid 1px; }
.task > * > * > * { border: yellow solid 1px; }
.task > * > * > * > * { border: green solid 1px; }  */

.backlog-divider {
  display: flex;
  align-items: center;
  text-align: center;
}
.backlog-divider::before,
.backlog-divider::after {
  content: '';
  flex: 1;
  opacity: 0.5;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}
.backlog-divider:not(:empty)::before { margin-right: 1em; }
.backlog-divider:not(:empty)::after { margin-left: 1em; }

.toaster {
  max-width: calc(var(--spacing) * 200);
}
.toaster .toast[data-category="success"] svg,
.toaster .toast[data-category="success"] h2
  { color: var(--color-green-600); }
.toaster .toast[data-category="success"] .toast-content
  { border-color: var(--color-green-600); }

/*dialog div { max-width: calc(var(--spacing) * 200); }
dialog#dialog-task-timeline div { max-width: 80%; }*/

input[type="date"] { width: fit-content; }

.milestone-vis-today * { border-color: red; }
