.milestones__category_label {
  display: inline-block;
  text-align: right;
  line-height: 1;
  position: relative;
  top: calc(4px + 1.5px);
  /* Line margin-top + half line height */
  transform: translateY(50%);
  /* Shift down by half the label's height */
}
.milestones__horizontal_line {
  position: absolute;
  background-color: var(--foreground);
  height: 2px;
  margin-top: 5px;
  margin-left: 5.5px;
  border-radius: 1.5px;
}
.milestones__vertical_line {
  position: absolute;
  background-color: var(--foreground);
  width: 3px;
  margin-left: 4px;
  margin-bottom: 5.5px;
  border-radius: 1.5px;
}
.milestones__group {
  position: absolute;
  font-family: sans-serif;
}
.milestones__group__bullet {
  background-color: var(--background);
  border: 3px solid var(--foreground);
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 2.5px;
  position: relative;
  left: 5.5px;
  /* Center on timeline (margin-left of line) */
  top: 6px;
  /* Center on timeline (margin-top + half line height) */
  transform: translate(-50%, -50%);
  /* Center the bullet itself */
}
.milestones__group__label-horizontal,
.milestones__group__label-vertical {
  position: absolute;
  padding: 0;
  color: var(--foreground);
}
.milestones__group__label-horizontal {
  border-left: 1px solid var(--foreground);
  margin-left: 5.5px;
  /* Align with bullet center */
}
.milestones__group__label-horizontal div {
  position: relative;
  margin-left: 3px;
  display: inline-block;
}
.milestones__group__label-vertical {
  padding-left: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--foreground);
  margin-bottom: -5.5px;
  margin-left: 10px;
  bottom: 100%;
  overflow: visible;
}
.milestones__group__label-vertical .wrapper {
  min-width: 100px;
  max-width: 300px;
  border-left: 1px solid black;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  padding-left: 5px;
}
.milestones__group__label-above-horizontal {
  bottom: 100%;
}
.milestones__group__label-above-vertical {
  padding-left: 0px;
  padding-right: 10px;
  right: 100%;
  text-align: right;
}
.milestones__group__label-above-vertical .wrapper {
  border-left: 0;
  border-right: 1px solid var(--foreground);
  padding-left: 0px;
  padding-right: 5px;
}
.milestones__group__label-last {
  right: 100%;
  border-left: 0;
  border-right: 1px solid var(--foreground);
  margin-left: 0;
  margin-right: -6px;
  text-align: right;
}
.milestones__group__label-last div {
  margin-left: 0px;
  margin-right: 3px;
}
.milestones__group__label__text-vertical {
  display: table-cell;
  vertical-align: bottom;
}
.milestones__group__label__text__title {
  color: var(--foreground);
  font-weight: bold;
  white-space: nowrap;
  font-size: 0.8rem;
}
.milestones__group__label__text__event {
  cursor: pointer;
}
.milestones__group__label__text__event--hover {
  background: #efefef;
  color: #313131;
}
