button { width: 100%; }

:is(button,[type=submit],[type=button],[role=button]).danger, [type=file]::file-selector-button, [type=reset] {
  --pico-background-color: var(--pico-form-element-invalid-active-border-color);
  --pico-border-color: var(--pico-form-element-invalid-active-border-color);
  cursor: pointer;
}

:is(button,[type=submit],[type=button],[role=button]).danger:is([aria-current]:not([aria-current=false]),:hover,:active,:focus), [type=file]::file-selector-button:is([aria-current]:not([aria-current=false]),:hover,:active,:focus), [type=reset]:is([aria-current]:not([aria-current=false]),:hover,:active,:focus) {
  --pico-background-color: var(--pico-color-red-600);
  --pico-border-color: var(--pico-color-red-600);
}

:is(button,[type=submit],[type=button],[role=button]).warning, [type=file]::file-selector-button, [type=reset] {
  --pico-background-color: var(--pico-color-pumpkin-550);
  --pico-border-color: var(--pico-color-pumpkin-550);
  cursor: pointer;
}

:is(button,[type=submit],[type=button],[role=button]).warning:is([aria-current]:not([aria-current=false]),:hover,:active,:focus), [type=file]::file-selector-button:is([aria-current]:not([aria-current=false]),:hover,:active,:focus), [type=reset]:is([aria-current]:not([aria-current=false]),:hover,:active,:focus) {
  --pico-background-color: var(--pico-color-pumpkin-500);
  --pico-border-color: var(--pico-color-pumpkin-500);
}