#container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#sidebar {
  background: var(--muted-border-color);
  min-width: 150px;
  max-width: 500px;
  width: 250px;
  padding: 1rem;
  /* overflow-y: auto; */
  overflow: hidden;
  border-right: 1px solid var(--muted-color);
  flex-shrink: 0; /* 🔒 prevents shrinking when contents grow */
  box-sizing: border-box; /* ensures padding doesn't cause overflow */
}

#resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: var(--muted-color);
}

main {
  flex-grow: 1;
  padding:2rem;
  /* overflow-y: auto; */
  overflow: auto;
}
